General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
}

/* Header Navigation */
header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

/* Hero Section */
.hero {
    background: url('avatar-background.webp') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero .content {
    max-width: 600px;
    padding: 20px;
    background: rgba(174, 172, 172, 0.496);
    border-radius: 10px;
}

.hero h1 {
    font-size: 60px;
    margin: 0;
    text-transform: uppercase;
}

.hero p {
    font-size: 18px;
    margin: 20px 0;
}

.hero button {
    padding: 10px 20px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero button:hover {
    background-color: #aaa;
}